@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


:root{
    --main-color:#176B87;
    --second-color:#23303E;
    --main-font:"Lora", serif;
}

.active {
    color: #fff;
}
.navbar{
    background-color: var(--second-color);
    padding-left: 2em !important;
    padding-right: 2em !important;
}
.navbar-brand{
    font-family: var(--main-font);
    font-weight: bold;
}

.navbar-brand span{
    letter-spacing: 5px;
}

.jumbotron {
    position: relative;
    background-image: url('../images/bg-blesing.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin-bottom: 0;
    font-family: var(--main-font);
}

.jumbotron::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sesuaikan nilai alpha sesuai keinginan Anda */
    z-index: 1; /* Tambahkan z-index agar overlay muncul di bawah elemen teks */
}

.jumbotron h1.display-4,
.jumbotron p.lead{
    margin-top: 2em;
    margin-left: 1.5em;
    color: white !important; /* Tetap menetapkan warna teks secara eksplisit menjadi putih */
    position: relative; /* Tambahkan position: relative agar z-index berlaku */
    z-index: 2; /* Tambahkan z-index agar elemen teks muncul di atas overlay */
}

.jumbotron .btn{
    z-index: 99;
    position: relative;
    background-color: transparent;
    border: 3px solid  #fff;
    border-radius: 50%;
    top: 11em;
    padding: 20px; 
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}
.jumbotron .btn .panah{
    color: white !important;
    font-size: 40px;
    transition: color 0.3s;
}
.jumbotron .btn:hover{
    background-color: #fff;
}
.jumbotron .btn:hover .panah{
    color: #000 !important;
}


/* konten */
.konten {
    margin: 0;
    /* background-color: #F8F8F8; */
    background-image: url('../images/samples/bg.jpg');
}
.konten .kiri {
    margin-top: 300px;
    margin-left: 2em;
}
.konten .bangku-kiri{
    border: 2px solid red;
    border-radius: 50%;

}
.konten img{
    /* width: 10%; */
    /* border-radius: 50%; */
    width: 80%;
    /* display: block; */
}
.konten .kanan{
    padding: 1.25em;
}

.konten .kanan img{
    width: 70%;
}
.konten .kanan h3{
    font-family: var(--main-font);
    font-size: 40pt;
}
.konten .kanan p{
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#8c8c8c;
}

.konten-2{
    background-color: #f2f2f2;
    margin: 0;
    padding-top: 5em;
}
.konten-2 .kiri h3{
    font-family: var(--main-font);
    font-size: 20pt;
    /* margin-left: 2em; */
}
.konten-2 .kiri h4{
    color: #8c8c8c;
    font-size: 15pt;
}
.konten-2  .kiri h3,h4{
    margin-top: 200px;
    margin-left: 2em;
}

.konten-2 .kanan h2{
    font-family: var(--main-font);
    font-size: 40pt;
}

.konten-2 .kanan .garis{
    border: 1px solid #999999;
    width: 100%;
    margin-top: 2em;
}

.konten-2 .kanan img{
    width: 100%;
    border-radius: 10px;
    /* margin-bottom: 2em; */

}

.konten-produk{
    background-image: url('../images/samples/bg.jpg');
    margin: 0;
    padding-bottom: 2em;
}

.konten-produk h1{
    text-align: center;
    margin: 3em auto 3em auto;
    font-family: var(--main-font);
}

.konten-produk .img-produk{
    /* width: 80%; */
    /* height: 300px; */
    width: fit-content;
    margin-left: 5em;
    padding: 0;
}

.konten-produk .img-produk img{
    width: 100%;
    /* height: 200px; */
    border-radius: 5%;
}

.konten-produk .garis{
    margin-left: 5em;
    margin-bottom: 2em;
    margin-top: 2em;
    border: 1px solid var(--second-color);
    width: 90%;
}
.konten-produk .isi-produk{
    margin-left: 2em;
}
.konten-produk p{
    font-size: 20pt;
    font-family: var(--main-font);
}
.konten-produk h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    margin-left: 0;
}

.konten-produk .btn{
    background-color: transparent;
    border: 1px solid var(--second-color);
    padding: 20px;
    border-radius: 50%;
}
.konten-produk .btn:hover{
    background-color: var(--second-color);
    color: #fff;
}

footer{
    background-color: #f2f2f2;
    /* margin: 2em 0 0 0; */
    padding: 1.25em;
    text-align: center;
    font-size: 12pt;
}


/* responsive mode */

@media screen and (max-width: 767px) {
    .jumbotron h1.display-4{
        font-size: 25pt;
        text-align: center;
    }
    .jumbotron p.lead{
       font-size: 15pt; /* Tambahkan z-index agar elemen teks muncul di atas overlay */
        text-align: justify;
    }
    .jumbotron .col-md-2{
        margin-top: 1.5em;
        display: flex;
        justify-content: center;
    }
    .jumbotron .btn{
        top: 0;
        padding: 15px;
    }
    .jumbotron .btn .panah{
        font-size: 12pt;
    }

    .konten .kiri {
        margin-top: 30px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .konten .kanan{
        padding: 0em;
        width: 96%;
    }
    .konten .kanan .img-fluid{
        margin-left: auto;
        margin-right: auto;
    }
    .konten .kanan h3{
        font-size: 30pt;
        text-align: center;
    }
    .konten .kanan p{
        font-size: 13pt;
        text-align: justify;
        margin-left: 1em;
        margin-right: 1em;
    }

    .konten .kanan .col-md-12, .col-md-10{
        width: 97%;
    }


    .konten-2{
        padding-top: 2em;
    }

    .konten-2 .kiri h3{
        font-size: 20pt;
        text-align: center;
        /* margin-left: 2em; */
    }
    .konten-2 .kiri h4{
        color: #8c8c8c;
        font-size: 15pt;
        text-align: center;
    }
    .konten-2  .kiri h3,h4{
        margin-top: 0;
        margin-left: 0;
    }
    
    .konten-2 .kanan h2{
        margin-top: 2em;
        font-size: 25pt;
        text-align: center;
    }

    .konten-2 .kanan .bangku{
        margin-left: 2em;
        width: 90%;
        border-radius: 10px;
        /* margin-bottom: 2em; */
    }
    
    .konten-produk .img-produk img{
        width: 80%;
    }
    
    .konten-produk .garis{
        margin-left: auto;
        margin-right: auto;
    }
    .konten-produk .isi-produk{
        margin-left: 0em;
    }
    .konten-produk p{
        font-size: 20pt;
        text-align: center;
        margin-top: 1em;
    }
    .konten-produk h4{
        text-align: center;
    }
    
    .konten-produk .btn{
        margin-top: 1em;
        margin-right: auto;
        margin-left: auto;
    }
    .konten-produk .btn:hover{
        background-color: var(--second-color);
        color: #fff;
    }

}