@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --main-color:#176B87;
    --second-color:#86B6F6;
    --main-font:"Lora", serif;
}
.navbar{
    background-color: var(--second-color);
    padding-left: 2em !important;
    padding-right: 2em !important;
}
.navbar-brand{
    font-family: var(--main-font);
    font-weight: bold;
}

.navbar-brand span{
    letter-spacing: 5px;
}

.jumbotron {
    position: relative;
    background-image: url('../images/bg-blesing.jpg');
    background-size: cover;
    background-position: center;
    height: 86vh;
    margin-bottom: 0;
    font-family: var(--main-font);
}

.jumbotron::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sesuaikan nilai alpha sesuai keinginan Anda */
    z-index: 1; /* Tambahkan z-index agar overlay muncul di bawah elemen teks */
}

.jumbotron h1.display-4,
.jumbotron p.lead{
    margin-top: 2em;
    margin-left: 1.5em;
    color: white !important; /* Tetap menetapkan warna teks secara eksplisit menjadi putih */
    position: relative; /* Tambahkan position: relative agar z-index berlaku */
    z-index: 2; /* Tambahkan z-index agar elemen teks muncul di atas overlay */
}

